<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container h-100">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="media/shaping the back.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>.uiyuyioiohjiok..</h5>
                        <p>..jkjkljkljlkj.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="media/everyday is a good workout day.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>..uhuhhu</h5>
                        <p>.yigygyygy..</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="..." alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>.jijiiiojij..</h5>
                        <p> hhhhhhhhhhhhh</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
   
</div>
{% endblock %}