<!DOCTYPE html>
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fitness-equipment-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fitness
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fitness-link">
                <a href="" class="dropdown-item">Exercise bikes &amp; Essentials</a>
                <a href="" class="dropdown-item">Trademills</a>
                <a href="" class="dropdown-item">Rowing machines </a>
                <a href="" class="dropdown-item">Climbers and Steppers </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="strength-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Strength
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="strength-link">
                <a href="" class="dropdown-item">Multi gyms </a>
                <a href="" class="dropdown-item">Weigh benches </a>
                <a href="" class="dropdown-item">Plate loaded</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="free-weights-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Weights
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="free-weights-link">
                <a href="" class="dropdown-item"> Barbells</a>
                <a href="" class="dropdown-item"> Bumper plates </a>
                <a href="" class="dropdown-item">Weight plates </a>
                <a href="" class="dropdown-item">Weight sets</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="functional-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Functional
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="functional-link">
                <a href="" class="dropdown-item"> Battle ropes </a>
                <a href="" class="dropdown-item"> Sand bag weights </a>
                <a href="" class="dropdown-item"> Pylometric boxes </a>
                <a href="" class="dropdown-item"> Gym balls</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="nutrients-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrients
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nutrients-link">
                <a href="" class="dropdown-item"> Barbells</a>
                <a href="" class="dropdown-item"> Bumper plates </a>
                <a href="" class="dropdown-item">Weight plates </a>
                <a href="" class="dropdown-item">Weight sets</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="nutrients-plan-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrient plan
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nutrient-plan-link">
                <a href="" class="dropdown-item"> Barbells</a>
                <a href="" class="dropdown-item"> Bumper plates </a>
                <a href="" class="dropdown-item">Weight plates </a>
                <a href="" class="dropdown-item">Weight sets</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="exercise-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Exercise plan
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="exercise-link">
                <a href="" class="dropdown-item"> Barbells</a>
                <a href="" class="dropdown-item"> Bumper plates </a>
                <a href="" class="dropdown-item">Weight plates </a>
                <a href="" class="dropdown-item">Weight sets</a>
            </div>
        </li>
    </ul>
</div>
