<!DOCTYPE html>
<div class=" container-fluid collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto w-auto ">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fitness-equipment-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fitness
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fitness-link">
                <a href="{% url 'products' %}?category=exercise_bikes" class="dropdown-item">Exercise Bikes </a>
                <a href="{% url 'products' %}?category=trade_mills" class="dropdown-item">Trademills</a>
                <a href="{% url 'products' %}?category=cross_trainers" class="dropdown-item">Cross trainers </a>
                <a href="{% url 'products' %}?category=climbers" class="dropdown-item">Climbers and Steppers </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="strength-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Strength
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="strength-link">
                <a href="{% url 'products' %}?category=kettle_bells" class="dropdown-item"> Kettle Bells </a>
                <a href="{% url 'products' %}?category=dumb_bells" class="dropdown-item"> Dumb Bells </a>
                <a href="{% url 'products' %}?category=weights" class="dropdown-item"> Weights </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="functional-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Functional
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="functional-link">
               <a href="{% url 'products' %}?category=battle_ropes" class="dropdown-item"> Battle ropes </a>
                <a href="{% url 'products' %}?category=sand_bag" class="dropdown-item"> Sand bag  </a>
               
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="nutrients-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrients
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nutrients-link">
                 <a href="{% url 'products' %}?category=muscle_nutrients" class="dropdown-item"> Muscle nutrients  </a>
              
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="nutrients-plan-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrient plan
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nutrient-plan-link">
                <a href="" class="dropdown-item"> Barbells</a>
                <a href="" class="dropdown-item"> Bumper plates </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="exercise-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Exercise plan
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="exercise-link">
                <a href="{% url 'products' %}?category=fat_loss" class="dropdown-item"> Fat loss</a>
                <a href="{% url 'products' %}?category=muscle_nutrients" class="dropdown-item"></a> Bumper plates
            </div>
        </li>
        <li>
            <div>
             <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'allblogs' %}"> Blog </a>
             </div>
        </li>
    </ul>
</div>
