<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
<div class="container">
   <div class="text-center">
        <p>
    <h2>Blogs</h2>
    </p>
   </div>
    <div class=" text-center">
        <a href="{% url 'add_blog' %}">
            <p class="">Share your archivemnets with others on how our products help you archive your goals</p>
        </a>
    </div>
    {% for blog in blogs %}
    <div class="container " style="border: 0.5px solid lightblue;">
        <h4><a href="{% url 'blog_detail' blog.id %}" >{{ blog.title }}</a></h4>
       <div style="padding: 5px;">
        <p>{{ blog.content }}</p>
    
       </div> 

    </div>
    {% endfor %}
    {% endblock  %}
</div>